# Tarea 1 Bases de Datos 2023-1 Grupo 15

## Integrantes:
* Joaquin Torres - 202073112-8
* Bruno Bonati - 202173057-5

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [1]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: sqlparse in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (2.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: names in c:\users\hexoc\appdata\local\programs\python\python311\lib\site-packages (0.3.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importar dependencias

In [3]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [1]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/tareabd

env: DATABASE_URL=postgresql://postgres:kaletofemboy23@localhost:5432/tareabd

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tareabd',
   password=""
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000026BAC5FABD0; dsn: 'user=postgres password=xxx dbname=tareabd host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [7]:
%%sql

create table facciones
(
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) not null,
    descripcion varchar(45) not null,
    PRIMARY KEY (id)
    );

 * postgresql://postgres:***@localhost:5432/tareabd
Done.

[]

### Tabla "trabajos" (6 pts)

In [8]:
%%sql
create table trabajos 
(
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) not null,
    descripcion varchar(45) not null,
    sueldo int not null,
    primary key (id)
);

 * postgresql://postgres:***@localhost:5432/tareabd
Done.

[]

### Tabla "personas" (6 pts)

In [9]:
%%sql
create table personas
(
    id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre varchar(45) not null,
    apellidos varchar(45) not null,
    fecha_nacimiento date not null,
    infectado bool not null,
    conyugue int,
    foreign key(conyugue) references personas(id)
    );

 * postgresql://postgres:***@localhost:5432/tareabd
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [10]:
%%sql
create table cuentas_bancarias
(
id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
tipo_de_cuenta varchar(45) not null,
banco varchar(45) not null,
saldo int not null,
id_persona int,
foreign key(id_persona) references personas(id)
);

 * postgresql://postgres:***@localhost:5432/tareabd
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [11]:
%%sql
create table persona_pertenece_faccion
(
id_persona int,
id_faccion int,
foreign key(id_persona) references personas(id),
foreign key(id_faccion) references facciones(id)
);

 * postgresql://postgres:***@localhost:5432/tareabd
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [12]:
%%sql
create table persona_tiene_trabajo
(
id_persona int,
id_trabajo int,    
foreign key(id_persona) references personas(id),
foreign key(id_trabajo) references trabajos(id),
estado bool not null,
ultima_vez_realizado TIMESTAMP not null

);

 * postgresql://postgres:***@localhost:5432/tareabd
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [13]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Mediante el uso de un full outer join entre las tablas persona_pertenece_faccion, facciones y personas obtiene los datos usando la id de la faccion y toma solamente el primer apellido usando la funcion SPLIT_PART._

In [16]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    personas.id, personas.nombre, SPLIT_PART(apellidos, ' ',1) AS apellido
FROM 
    persona_pertenece_faccion FULL OUTER JOIN facciones ON persona_pertenece_faccion.id_faccion = facciones.id
    FULL OUTER JOIN personas on personas.id = persona_pertenece_faccion.id_persona
WHERE
    persona_pertenece_faccion.id_faccion = 1;

 * postgresql://postgres:***@localhost:5432/tareabd
48 rows affected.

[(20, 'Tammy', 'Thomas'),
 (57, 'Rachel', 'Mosley'),
 (67, 'Jessica', 'Royster'),
 (74, 'Vernita', 'Brown'),
 (138, 'Ramona', 'Taylor'),
 (185, 'Lulu', 'Steffen'),
 (272, 'Columbus', 'Gagnon'),
 (285, 'Catherine', 'Morton'),
 (289, 'Crystal', 'Abdullah'),
 (290, 'Maria', 'Salter'),
 (317, 'Harriett', 'Roberson'),
 (338, 'James', 'Piekarski'),
 (343, 'William', 'Rutan'),
 (360, 'Terence', 'Currie'),
 (361, 'Elizabeth', 'Sager'),
 (365, 'Jack', 'Ortega'),
 (409, 'Ruth', 'Coughlin'),
 (454, 'Stephanie', 'Foster'),
 (488, 'Samuel', 'Martinez'),
 (497, 'Kenneth', 'Borden'),
 (453, 'Susan', 'Bosley'),
 (536, 'Nicholas', 'Rosa'),
 (544, 'Daniel', 'Uren'),
 (587, 'Linda', 'Hurt'),
 (593, 'Virginia', 'Hughes'),
 (608, 'Kristine', 'Turney'),
 (616, 'Rufus', 'Waymire'),
 (674, 'Helen', 'Nelson'),
 (687, 'Leona', 'Tracy'),
 (781, 'James', 'Johnson'),
 (796, 'Ashley', 'Neumann'),
 (799, 'Frank', 'Grennan'),
 (805, 'Kenneth', 'Burcham'),
 (820, 'Alyson', 'Raab'),
 (822, 'Jack', 'Holt'),
 (873, 'Denise', 'Phillips'),
 (903, 'Mildred', 'Cameron'),
 (904, 'Laura', 'Trent'),
 (906, 'Sasha', 'West'),
 (928, 'Saundra', 'Mattice'),
 (931, 'Lena', 'Crane'),
 (935, 'Ronald', 'Spanton'),
 (949, 'Jason', 'Hunter'),
 (991, 'Joseph', 'Aberle'),
 (997, 'Marion', 'Archer'),
 (986, 'Jean', 'Miller'),
 (371, 'Lillie', 'Morales'),
 (524, 'Eddie', 'Nguyen')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Simplemente cuenta todas las personas cuya fecha de nacimiento es mayor al inicio de la pandemia usando COUNT(*) ._

In [17]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    COUNT(*) as Cantidad
FROM 
    personas
WHERE
    personas.fecha_nacimiento > '2019-12-01';

 * postgresql://postgres:***@localhost:5432/tareabd
1 rows affected.

[(60,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Realiza un join entre personas, cuentas_bancarias y personas, selecciona todos los datos y los limita a solo mostrar 20._

In [1]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    personas.id, personas.nombre, SPLIT_PART(apellidos, ' ',1) AS apellido, cuentas_bancarias.saldo
FROM 
    personas JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
LIMIT 20;

UsageError: Cell magic `%%sql` not found.

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Realizamos un join entre las tablas facciones, persona_pertenece_faccion y persona_tiene_trabajo, cuenta usando COUNT(*) las personas cuyo ultima_vez_realizado sea menor o igual a nuestra fecha X, en este caso usamos la misma fecha de la pandemia como prueba ._

In [20]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    facciones.nombre AS faccion, count(*) AS Cantidad_de_trabajadores 
FROM 
    facciones JOIN persona_pertenece_faccion on facciones.id = persona_pertenece_faccion.id_faccion 
    JOIN persona_tiene_trabajo ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona
WHERE
    persona_tiene_trabajo.ultima_vez_realizado <= '2019-12-01'
GROUP BY
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tareabd
6 rows affected.

[('JavaScriptia', 7),
 ('Luciérnagas', 4),
 ('Carroñeros', 2),
 ('Pythonia', 3),
 ('MaCdonia', 2),
 ('FEDRA', 5)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Realizamos un Join entre las tablas facciones, persona_pertenece_faccion y personas, donde contamos con COUNT(*) todas las personas en que el BOOl infectado sea TRUE._

In [23]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    facciones.nombre, count(*) AS personas_infectadas
FROM 
    facciones JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
WHERE
    infectado = TRUE
GROUP BY
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tareabd
6 rows affected.

[('JavaScriptia', 28),
 ('Luciérnagas', 23),
 ('Pythonia', 19),
 ('MaCdonia', 26),
 ('FEDRA', 26),
 ('Carroñeros', 23)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Usando una consulta anidada junta las tablas facciones, persona_pertenece_faccion, persona_tiene_trabajo y trabajos, cuenta los trabajos para ver cuantas veces se ha realizado cada uno por faccion, ordena los conteos de trabajos descendentemente con DESC y se le asigna un ROW_NUMBER para cada uno, de esta forma seleccionamos los que tengan ROWNUMBER = 1 ya que al estar ordenados sera el trabajo mas realizado (EN ESTA CONSULTA HICIMOS LA SOLUCION SIN TOMAR EN CUENTA SI EL TRABAJO ESTABA ACTIVO O NO YA QUE SOLO DECIA MAS REALIZADO :3)._

In [35]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT faccion, trabajo_mas_realizado
FROM(
SELECT
    facciones.nombre AS faccion, trabajos.nombre AS trabajo_mas_realizado, ROW_NUMBER() OVER (PARTITION BY facciones.id ORDER BY COUNT(*) DESC) AS rownumber
FROM 
    facciones JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
    JOIN persona_tiene_trabajo ON personas.id = persona_tiene_trabajo.id_persona JOIN trabajos ON persona_tiene_trabajo.id_trabajo = trabajos.id
GROUP BY
   facciones.id,facciones.nombre,trabajos.nombre
HAVING COUNT(*)>0
) subquery
WHERE
    rownumber=1;

 * postgresql://postgres:***@localhost:5432/tareabd
6 rows affected.

[('FEDRA', 'Médico'),
 ('Luciérnagas', 'Carpintero'),
 ('Carroñeros', 'Cremador'),
 ('Pythonia', 'Militar'),
 ('MaCdonia', 'Militar'),
 ('JavaScriptia', 'Militar')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Realizamos un Join entre personas, cuentas_bancarias, persona_pertenece_faccion y facciones, agrupamos por nombre de la faccion y mediante SUM() sumamos el total de los saldos ._

In [46]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */


SELECT
    facciones.nombre, SUM(cuentas_bancarias.saldo) AS saldo
FROM 
    personas JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
    JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
    JOIN facciones ON persona_pertenece_faccion.id_faccion = facciones.id
GROUP BY 
    facciones.nombre

 * postgresql://postgres:***@localhost:5432/tareabd
6 rows affected.

[('JavaScriptia', 17608),
 ('Pythonia', 30815),
 ('MaCdonia', 25837),
 ('FEDRA', 35093),
 ('Luciérnagas', 42232),
 ('Carroñeros', 32880)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Realizamos un join entre cuentas_bancarias y personas, agrupamos por nombre de banco y con COUNT(DISTINCT personas.id) contamos la cantidad de personas unica que tengan cuentas en los bancos finalmente con SUM() sumamos la cantidad de saldo de cada cuenta bancaria en cada banco._

In [50]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */


SELECT
    cuentas_bancarias.banco, COUNT(DISTINCT personas.id) AS cantidad, SUM(cuentas_bancarias.saldo) AS saldo
FROM 
    cuentas_bancarias JOIN personas ON cuentas_bancarias.id_persona = personas.id
GROUP BY 
    cuentas_bancarias.banco;

 * postgresql://postgres:***@localhost:5432/tareabd
10 rows affected.

[('Banco BBVA', 13, 59420),
 ('Banco BCI SpA', 11, 64330),
 ('Banco Consorcio S.A', 12, 55407),
 ('Banco de la Nación S.A', 9, 52309),
 ('Banco Estado SpA', 15, 69584),
 ('Banco Pedrito Pascal SpA', 14, 68832),
 ('Banco Pythonia S.A', 8, 29500),
 ('Banco Santander SpA', 14, 70031),
 ('Banco Scotiabank', 12, 67578),
 ('FedraBank S.A', 9, 50320)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Primero realizamos una consulta anidada que junta las tablas personas, cuentas_bancarias, persona_pertenece_faccion y facciones, agrupamos por id faccion y nombre de banco , contamos las cuentas unicas en cada banco en cada faccion con count(distinct), ordenamos las personas en orden descendente y le asignamos un rownumber a cada banco en cada faccion, finalmente la consulta "main" selecciona el rownumber (rango) = 1 es decir al estar en orden descendente sera el banco mas popular por cada faccion (esta y las otras consultas con rownumbers nos tomaron horas de quemarnos la cabeza asi que espero que esten buenas T-T )  ._

In [54]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */


SELECT
    nombre,banco
FROM 
    (
SELECT 
    facciones.nombre, cuentas_bancarias.banco, ROW_NUMBER() OVER (PARTITION BY facciones.id ORDER BY COUNT( DISTINCT personas.id )DESC) AS rango
FROM 
    personas JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona JOIN persona_pertenece_faccion ON cuentas_bancarias.id_persona = persona_pertenece_faccion.id_persona
    JOIN facciones ON persona_pertenece_faccion.id_faccion = facciones.id
GROUP BY 
    facciones.id, cuentas_bancarias.banco) as subquery
WHERE
    rango = 1;

 * postgresql://postgres:***@localhost:5432/tareabd
6 rows affected.

[('FEDRA', 'Banco Consorcio S.A'),
 ('Luciérnagas', 'Banco Santander SpA'),
 ('Carroñeros', 'Banco Santander SpA'),
 ('Pythonia', 'Banco Consorcio S.A'),
 ('MaCdonia', 'Banco BCI SpA'),
 ('JavaScriptia', 'Banco BCI SpA')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Utilizamos una consulta anidada para contar los ID'S que aparezcan mas de una vez con GROUP y HAVING (aprender a usar esas 2 nos rompio el cerebro) luego la consulta "main" selecciona los datos pedidos de las personas que aparecen mas de una vez._

In [59]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */


SELECT
    id, personas.nombre, SPLIT_PART(apellidos, ' ',1) AS apellido
FROM 
    personas
WHERE
    personas.id IN(
        SELECT 
            id_persona
        FROM
            persona_pertenece_faccion
        GROUP BY
            id_persona
        HAVING  
            COUNT(*) >1    


    );

 * postgresql://postgres:***@localhost:5432/tareabd
34 rows affected.

[(74, 'Vernita', 'Brown'),
 (199, 'Michael', 'Tan'),
 (221, 'Inez', 'Whorton'),
 (219, 'Charles', 'Villasenor'),
 (291, 'Glenn', 'Gamboa'),
 (303, 'Olga', 'Stewart'),
 (336, 'Luisa', 'Yancey'),
 (346, 'Charles', 'Fieck'),
 (351, 'Angela', 'Shumaker'),
 (365, 'Jack', 'Ortega'),
 (374, 'Lisa', 'Tiemens'),
 (379, 'Judith', 'Gribble'),
 (454, 'Stephanie', 'Foster'),
 (536, 'Nicholas', 'Rosa'),
 (547, 'Russell', 'Thurgood'),
 (604, 'Carol', 'Konieczny'),
 (739, 'Sam', 'Greenan'),
 (764, 'Mary', 'Chavez'),
 (778, 'Roger', 'Smith'),
 (796, 'Ashley', 'Neumann'),
 (801, 'Tommy', 'Freeman'),
 (822, 'Jack', 'Holt'),
 (845, 'Terry', 'Ramos'),
 (880, 'Geraldine', 'Meredith'),
 (894, 'Joshua', 'Goucher'),
 (903, 'Mildred', 'Cameron'),
 (928, 'Saundra', 'Mattice'),
 (935, 'Ronald', 'Spanton'),
 (949, 'Jason', 'Hunter'),
 (968, 'William', 'Lawler'),
 (997, 'Marion', 'Archer'),
 (986, 'Jean', 'Miller'),
 (999, 'Jason', 'Oleary'),
 (371, 'Lillie', 'Morales')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *